:root{
    --color-brand-1: #4263EB;
    --color-brand-2: #364FC7;
    --color-grey-0: #0A0C0D;
    --color-grey-1: #212529;
    --color-grey-2: #495057;
    --color-grey-3: #868E96;
    --color-grey-4: #DEE2E6;
    --color-grey-5: #F8F9FA;
    --color-grey-6: #EDF2FF;
    --color-white-fixed: #FFFFFF;

    --radius: 0.25rem;
}

h2{
    font-size: 1rem;
    font-weight: 700;
    color: var(--color-grey-1);
}

img{
    width: 3rem;
}